@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/woff2/Nunito-Regular.woff2') format('woff2'),
         url('../media/fonts/woff/Nunito-Regular.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');


/**estilos generales**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --skilly-green: #7AC943; 
    --marquee-li: #85ff2e38;
    --discord: #5865F2;
    --whatsapp: #14c426;
    --documentation: #18c4e2;
    --calendar: #7AC943;
    --dark-back: #222222;
}

::selection{
    background-color: var(--marquee-li);
}

/****** NAV MENU ******/
.events {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    position: relative;
}

.events p {
    background-color: white;
    padding: 5px 60px;
    border-radius: 5px; /* Opcional, para redondear los bordes */
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima del fondo */
}

.events::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./media/diagonal-stripes.svg'); /* Imagen de prueba */
    background-size: 100%;
    z-index: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}
.logo-container, .menu-container, .contact-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container{
    width: 15%;
    margin-left: 5%;
}
.logo-container a{
    display: inline-block;
}
.logo-container img{
    width: 100%;
}
.menu-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menulist li{
    position: relative;
    width: fit-content;
}
.menulist li a{
    text-decoration: none;
    color: black;
}
.menulist li::after {
    
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Grosor de la barra */
    background-color: var(--skilly-green); /* Color de la barra */
    position: absolute;
    bottom: -50%;
    border-radius: 5%;
    left: 0;
    transition: width 0.3s ease-in-out; /* Transición suave de la anchura */
}

.menulist li:hover::after {
    width: 98%; /* Ancho de la barra al pasar el cursor */
}

.header-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.header-icon{
    width: 25%;
    display: flex;
    gap: 10%;
}
.header-icon #imgW{
    width: 120%;
}
.header-icon a{
    display: inline-block;
}
.header-icon img{
    width: 100%;
}


/**************** BOTON MAIN CONTAINER *********************/
.main-container{
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 40vh;
    flex-direction: column;
}

.main-container .banner-index{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    flex-direction: column;
}

.main-container .banner-index h1 {
    font-family: nunito;
    font-size: 350%;
    font-weight: 500;
    margin: 0;
}

.main-container .banner-index h1:nth-child(1){
    margin-bottom: 1%;
}

.main-container .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 40%;
    background-color: #cdeeb6;
    border-radius: 15px;
}

.main-container .info .info-container{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

/**************** BOTON PROBAR *********************/
.button-probar{
    display: flex;
    align-items: center;
    background-color: var(--skilly-green);
    border-radius: 15px;
    width: fit-content;
    height: 50px;
    padding: 5px;
    border: 2px solid transparent; /* Borde inicialmente transparente */
    transition: box-shadow 0.3s ease-in-out; /* Agregar transición para suavizar el cambio */
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.button-probar a{
    text-decoration: none;
    color: black;
}
.button-probar:hover{
    box-shadow: 0px 0px 16px 4px #93ef51;
}

.navText{
    text-align: center;
}

/**************** TITULOS *********************/
.title2{
    position: relative;
    display: inline-block;
    font-size: 250%;
}
.title2::before,
.title2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 90%; /* Puedes ajustar el ancho si lo consideras necesario */
    height: 3px;
    border-radius: 3px;
    background-color: var(--skilly-green);
    transform: translateY(-50%);
}
.title2::before {
    left: -110%; /* Ajusta según la distancia que quieras entre la línea y el título */
}

.title2::after {
    right: -110%;
}

.title2:hover{
    color: var(--skilly-green);
}

.title3{
    font-size: 2.5em;
    width: 100%;
    padding: 0 15%;
    text-align: center;
}
/**************** BOTON GENERAL *********************/
.button-general{
    background-color: var(--skilly-green);
    padding: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}
/**************** SUSURRO TEXTO *********************/
.whisper{
    font-style: italic;
    color: rgb(180, 180, 180);
    font-size: 13px;
}

/**************** RESALTADO TEXTO Y LEMA *********************/

.markedText, #motto{
    color: var(--skilly-green);
    font-weight: bold;
}
#motto{
    font-size: 20px;
}

/******* FOOTER **********/

footer{
    box-shadow: 0px -16px 10px -8px rgba(0,0,0,0.1);
    background-color: var(--dark-back);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    gap: 15px;
    color: white;
}
footer img{
    width: 8%;
}

footer .footer-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5%;
    width: 60%;
    justify-content: center;
    align-items:center;
}
footer .footer-list a{
    text-decoration: none;
    color: white;
}

footer .footer-list a:hover{
    color: var(--skilly-green);
}
footer #footer-legal a{
    color: rgb(100, 99, 99);
}

/**************** SUBIR ARRIBA *********************/

#to-top-button {
    position: fixed; /* Fija el botón en una posición en la pantalla */
    bottom: 20px; /* 20px desde la parte inferior */
    right: 20px; /* 20px desde la parte derecha */
    padding: 10px 15px; /* Espaciado interno para el botón */
    background-color: var(--skilly-green); /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Remueve el subrayado del texto */
    border-radius: 50%; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

#to-top-button:hover {
    filter: brightness(85%); /* Efecto al pasar el cursor por encima */
}
