@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/woff2/Nunito-Regular.woff2') format('woff2'),
         url('../media/fonts/woff/Nunito-Regular.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');


/**estilos generales**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --skilly-green: #7AC943; 
    --marquee-li: #85ff2e38;
    --discord: #5865F2;
    --whatsapp: #14c426;
    --documentation: #18c4e2;
    --calendar: #7AC943;
    --dark-back: #222222;
}

/****** NAV MENU ******/
.events{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: aquamarine;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
}
.logo-container, .menu-container, .contact-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container{
    width: 15%;
    margin-left: 5%;
}
.logo-container a{
    display: inline-block;
}
.logo-container img{
    width: 100%;
}
.menu-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menulist li{
    position: relative;
    width: fit-content;
}
.menulist li a{
    text-decoration: none;
    color: black;
}
.menulist li::after {
    
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Grosor de la barra */
    background-color: var(--skilly-green); /* Color de la barra */
    position: absolute;
    bottom: -50%;
    border-radius: 5%;
    left: 0;
    transition: width 0.3s ease-in-out; /* Transición suave de la anchura */
}

.menulist li:hover::after {
    width: 98%; /* Ancho de la barra al pasar el cursor */
}

.header-list{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.header-icon{
    width: 25%;
    display: flex;
    gap: 10%;
}
.header-icon #imgW{
    width: 120%;
}
.header-icon a{
    display: inline-block;
}
.header-icon img{
    width: 100%;
}
.button-probar{
    display: flex;
    align-items: center;
    background-color: var(--skilly-green);
    border-radius: 15px;
    width: fit-content;
    height: 50px;
    padding: 5px;
    border: 2px solid transparent; /* Borde inicialmente transparente */
    transition: box-shadow 0.3s ease-in-out; /* Agregar transición para suavizar el cambio */
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.button-probar a{
    text-decoration: none;
    color: black;
}
.button-probar:hover{
    box-shadow: 0px 0px 16px 4px #93ef51;
}

.navText{
    text-align: center;
}